.notification-toast {
  position: fixed;
  top: 10px;
  right: 20px;
  background: var(--header-footer-bg);
  border: 1px solid var(--border-red);
  padding: 10px 18px;
  border-radius: 6px;
  z-index: 100;
  font-weight: 600;
  color: var(--text-main);
}

.inventory-builder {
  position: absolute;
  width: 100%;
  top: var(--header-height);
  bottom: var(--footer-height);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 0;
  align-items: stretch;
}