.site-footer {
  width: 100%;
  height: 60px;
  background: rgba(10,10,10,0.98);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  border-top: 2px solid #ff4655;
  position: fixed;
  bottom: 0;
  left: 0;
}

.site-footer a {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

/* Botão Download */
.download-btn {
  background: rgba(10,10,10,0.98);
  color: #ff4655;
  border: 1px solid #ff4655;
  transition: 0.25s ease;
}

.download-btn:hover {
  background: #ff4655;
  color: black;
  transition: 0.25s ease;
}

/* Botão GitHub */
.github-btn {
  background: rgba(10,10,10,0.98);
  color: #ff4655;
  border: 1px solid #ff4655;
  transition: 0.25s ease;
}

.github-btn:hover {
  background: #ff4655;
  color: black;
  transition: 0.25s ease;
}