.container {
	width: 42%;
	background: var(--form-bg);
	backdrop-filter: blur(6px);
	padding: 2.5rem;
	border-radius: 14px;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
	border: 1px solid rgba(255,255,255,0.15);
}

form h1 {
	color: var(--text-main);
	text-align: center;
	margin-bottom: 6%;
	font-weight: 800;
}

.error-message {
	color: var(--main-red);
	margin-bottom: 6%;
	text-align: center;
	text-decoration: underline;
}

.success-message{
	color: var(--main-red);
	margin-bottom: 6%;
	text-align: center;
	text-decoration: underline;
}

.inputs {
	display: flex;
	align-items: center;
	background: rgba(255,255,255,0.12);
	border: 1px solid rgba(255,255,255,0.25);
	padding: 3.5%;
	gap: 4%;
	border-radius: 10px;
	margin-bottom: 5%;
	transition: 0.25s ease;
}

.inputs .icon {
	width: 6.5%;
	height: 6.5%;
}

.inputs input {
	width: 100%;
	background: none;
	border: none;
	outline: none;
	color: var(--text-main);
	font-size: 15px;
	transition: 0.25s ease;
}

.inputs input::placeholder {
	color: var(--main-red);
}

.form-button {
	width: 100%;
	padding: 3.5%;
	background: var(--main-red);
	border: none;
	color: var(--text-main);
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	transition: 0.25s ease;
	transform: scale(1);
}

.form-button:hover {
	background: #ba3a47d0;
	transform: scale(1.04);
}

.signup-link {
	margin-top: 5.5%;
	text-align: center;
}

.signup-link p {
	color: var(--main-red);
}

.signup-link a {
	color: var(--main-red);
	text-decoration: none;
	font-weight: 600;
}

.signup-link a:hover {
	text-decoration: underline;
}

.inputs:focus-within {
	transform: scale(1.04);
	border-color: var(--main-red);
	background: rgba(186, 58, 70, 0.18);
	box-shadow: 0 0 8px rgba(186, 58, 70, 0.4);
}
