.site-header {
  width: 100%;
  height: 4rem;
  background: var(--header-footer-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--border-red);
  position: relative;
}

.site-header .left .left-valorant-logo {
  height: 40px;
  cursor: pointer;
}

.site-header .center h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-main);
  margin: 0;
}

.site-header .right .select-lojas-valorantpoints {
  background: #121212;
  color: var(--text-main);
  border: 1px solid var(--border-red);
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.25s ease;
  appearance: none;
}

.site-header .right .select-lojas-valorantpoints:focus {
  outline: none;
  border: 1px solid var(--border-red);
}

.site-header .right .select-lojas-valorantpoints:hover {
  background: var(--main-red);
  cursor: pointer;
  color: var(--text-main);
  transition: 0.25s ease;
}