.site-header {
  width: 100%;
  height: 70px;
  background: rgba(10,10,10,0.98);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  box-sizing: border-box;
  border-bottom: 2px solid #ff4655;
  position: relative;
}

.site-header .left img {
  height: 40px;
  cursor: pointer;
}

.site-header .center h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.site-header .right select {
  background: #121212;
  color: #fff;
  border: 1px solid rgba(255,70,85,0.26);
  padding: 8px 12px;
  border-radius: 6px;
  /* font-family: 'Inter', sans-serif; */
  font-weight: 600;
  transition: 0.25s ease;
}

.site-header .right select:hover {
  background: #ff4655;
  cursor: pointer;
  color: #000;
  transition: 0.25s ease;
}